
<div class="container">
<br><br />

<font color="#569AAB"><h4>Tasks Lists</h4></font><br />
<div class="row">
<div class="col-md-8">
<table class="table table-striped">
  <thead>
    <tr>
      <th><font color="#337ab7">Name</th></font>
      <th><font color="#337ab7">Description</th></font>
      <th><font color="#337ab7">Start Date</th></font>
      <th><font color="#337ab7">End Date</th></font>
   

      <th></th>
    </tr>
  </thead>

  <tbody>
 <% @tasks.each do |task| %>
      <tr>      
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.startdate %></td>
        <td><%= task.enddate %></td>
     
    <% end %>
  </tbody>
</table><br />
</div>
</div>
</div>