<nav class="navbar navbar-default">
   <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin">Admin Panel</a></li>
     <li><a href="/users/sign_in">User Panel</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<br>
<h2><font color="red">Welcome!</font></h2><br>

Please click here to get Admin's Panel<br>
<%= link_to 'Admin Panel', "/admin" %><br><br>

Please click here to get User's Panel<br>
<%= link_to 'User Panel', "/usershome" %><br><br>

</div>