<nav class="navbar navbar-default navbar-light">
   <ul class="nav navbar-nav navbar-right">
      <li><a href="/admin">Admin Panel</a></li>
     <% if current_user %>
		<li><a href="/usershome">Users Panel</a></li>
	<% else %>
	    <li><a href="/users/sign_in">Users Panel</a></li>
	<% end %>
	    </ul>
	  </div>
</nav>
<div class="container">
<br>
<h2><font color="#2F4F4F">Welcome!</font></h2><br>

Please click here to get Admin's Panel<br>
<%= link_to 'Admin Panel', "/admin" %><br><br>

Please click here to get User's Panel<br>
<%= link_to 'User Panel', "/usershome" %><br><br>

</div>