<script>
  $('#check_otp').click(function(){
    $('#user_id').val($('#userid').val());
    $('#code').val($('#project_code').val());
    $('#name').val($('#project_name').val());
    $('#startdate').val($('#project_startdate').val());
    $('#enddate').val($('#project_enddate').val());
    $('#status').val($('#project_status').val());
    $('#credits').val($('#project_credits').val());
  });
</script>
      


<div class="container">
  <br /><br />
 <h3><font color="#569AAB">New Project</font></h3><br>
  <div class="row">
<div class="col-lg-6"> 
<%= bootstrap_form_for(@project, local: true,:html => { :multipart => true }) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= hidden_field_tag(:userid,value = @user.id) %>
      
    

  <div class="form-group">
    <%= form.text_field :name,class: 'form-control input-sm', data: {target: "#otpAuth"} %>
  </div>

  <div class="form-group">
    <%= form.text_field :code, class: 'form-control input-sm', data: {target: "#otpAuth"} %>
  </div>

  <div class="form-group">
    <%= form.date_select :startdate, class: 'form-control input-sm',data: {target: "#otpAuth"} %>
  </div>

  <div class="form-group">
    <%= form.date_select :enddate, class: 'form-control input-sm',data: {target: "#otpAuth"} %>
  </div>

   <div class="actions">
    <%= form.hidden_field :status, :value => "InActive",data: {target: "#otpAuth"} %>
  </div>

  <div class="actions">
    <%= form.hidden_field :credits, :value => 0,data: {target: "#otpAuth"} %>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otpAuth" id="check_otp">
    Create
  </button>
  </div>
  <% end %>
  </div>
  </div>
  <div>



<div class="modal fade" id="otpAuth" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    OTP
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">       
               <%= bootstrap_form_for(@project, local: true,:html => { :multipart => true }) do |form| %>

                  <input type="hidden" id="user_id" name="user_id" value="{{ request.form.user_id }}" />
                  <input type="hidden" id="name" name="name" value="{{ request.form.name }}" />
                   <input type="hidden" id="code" name="code" value="{{ request.form.code }}" />
                  <input type="hidden" id="startdate" name="startdate" value="{{ request.form.startdate }}" />
                  <input type="hidden" id="enddate" name="enddate" value="{{ request.form.enddate }}" />
                  <input type="hidden" id="status" name="status" value="{{ request.form.status }}" />
                  <input type="hidden" id="credits" name="credits" value="{{ request.form.credits }}" />
                  <div class="form-group">
                    <label>Enter OTP</label>
                      <input id="otp" name="otp" type="text"  />
                  </div>
                  <%= form.submit %>
                <% end %>
            </div>            
         
        </div>
    </div>
</div>




